
.primary-button {
  $red: rgb(229, 9, 20);
  background-color: $red;
  color: white;
  font-weight: 550;
  padding: .375rem 1.5rem;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.07);
    color: white;
  }
}