.form-control {
  border-color: #dacece;
  &:focus {
    color: inherit;
    background-color: rgba(239, 239, 239, 1);
    border-color: rgba($prim-color, 0.4);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba($prim-color, 0.25);
  }
}