$full-page: calc(100vh - 2.6rem);
$prim-color: #e50914;

@import "./pages/landing/landing-page";
@import "./components/index";
@import "./pages/Ingredients/parts/IngredientList/IngredientItem/ingredientItem";
@import "./pages/Ingredients/ingredients";

.list-full-width {
  padding: 0;
  list-style-type: none;
  width: 100%;
  .list-item {
    display: flex;
  }
}

.btn-checkout {
  cursor: pointer;
  display: inline-flex;
  background-color: transparent;
  border: none;
  outline: none;
  &:active, &:focus {
    outline: none;
  }
}

.page {
  padding: 1.5rem 1rem;
  width: 100vw;
  height: $full-page;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.spread-columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

hr {
  border-top: 1px solid rgba(0,0,0,0.2);
}

.order-details {
  width: 45vw;
  margin-right: 10vw;
}
.checkout__summary {
  width: 45vw;
}

.order-details-readonly {
  .value {
    margin-left: 1rem;  
  }
  .field {
    font-weight: 500;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 2.5px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
 
@mixin scrollbarColor($color: rgb(163,163,163), $hoverColor: rgb(163,163,163)) {
  ::-webkit-scrollbar-thumb {
    transition: background-color 0.5s ease;
    background-color: rgba($color, .6);
    cursor: pointer;

    &:hover {
      background-color: rgba($color, 1);
    }
  }
}

@include scrollbarColor();

.form-control {
  border-color: #dacece;
  &:focus {
    color: inherit;
    background-color: rgba(239, 239, 239, 1);
    border-color: $prim-color;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba($prim-color, 0.25);
  }
}

.column-display {
  display: flex;
  flex-direction: column;
}