@import "./pages/Ingredients/parts/IngredientItem/ingredientItem";
@import "./pages/Ingredients/ingredients";

$full-page: calc(100vh - 2.6rem);

.landing-page  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: $full-page;
  color: white;
  $darken: rgba(0, 0, 0, 0.4);
  background: linear-gradient($darken, $darken),
    url('https://hips.hearstapps.com/del.h-cdn.co/assets/17/07/1487090968-delish-guacamolesalad-2.jpg');

  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  h4 {
    margin-bottom: 2rem;
  } 
}
 
header {
  background-color: black;
  color: white;
  height: 100%;
}

.order-button {
  $red: rgb(229, 9, 20);
  background-color: $red;
  color: white;
  font-weight: 550;
  padding: .375rem 1.5rem;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.07);
    color: white;
  }
}

ul {
  padding: 0;
  // padding: 5px 10px;
  list-style-type: none;
  width: 100%;
  li {
    display: flex;
    align-items: center;
  }
}

.btn-checkout {
  display: inline-flex;
  background-color: transparent;
  border: none;
  outline: none;
  &:active, &:focus {
    outline: none;
  }
}

.page {
  padding: 15px 10px;
  width: 100vw;
  height: $full-page;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.spread-columns {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  width: 100%;
}

hr {
  border-top: 1px solid rgba(0,0,0,0.2);
}

.checkout__summary {
  min-width: 40%;
}
